<h1>Página de DragonBall</h1>
<hr>

<!--



<p>Lugar donde iran todas las funcionalidades relacionadas con DragonBall</p>
-->

<section class="row">
    <div class="col-12 col-sm-6">



        <!-- recive el evento del hijo y lo pasa al padre se llama como un evento  -->
        <!--<app-dragonball-character-add (newCharacter)="addToCharacter($event)" />-->
        <!--el  $event es el nuevo personaje que se envia desde el componente hijo  -->


        <app-dragonball-character-add (newCharacter)="dragonballService.addToCharacter($event)" />

    </div>
    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <!--aqui recibo las propiedades del hijo [characters] para mostrarlo son los valores que tiene el signal-->
        <!--<app-character-list listName="Listado de Personajes" [characters]="characters()" />-->
        <!--el listName es una propiedad que se envia desde el componente hijo  -->

        <app-character-list listName="Listado de Personajes" [characters]="dragonballService.characters()" />


    </div>

</section>